# Create a systemd service file for the Spring Boot application
echo "[Unit]
Description=Spring Boot Application

[Service]
User=csye6225
EnvironmentFile=/opt/.env
ExecStart=/usr/bin/java -jar /home/csye6225/webapp/target/webapp-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target" | sudo tee /etc/systemd/system/webapp.service